In [15]:
import csv
import pandas as pd

In [16]:
F1 = pd.read_csv('Twitch_game_data.csv', encoding = 'unicode_escape')
F2 = pd.read_csv('SteamCharts.csv', encoding = 'unicode_escape')

In [24]:
F1.head()

,Rank,Game,Month,Year,Hours_watched,Hours_Streamed,Peak_viewers,Peak_channels,Streamers,Avg_viewers,Avg_channels,Avg_viewer_ratio
0,1,League of Legends,1,2016,94377226,1362044 hours,530270,2903,129172,127021,1833,69.29
1,2,Counter-Strike: Global Offensive,1,2016,47832863,830105 hours,372654,2197,120849,64378,1117,57.62
2,3,Dota 2,1,2016,45185893,433397 hours,315083,1100,44074,60815,583,104.26
3,4,Hearthstone,1,2016,39936159,235903 hours,131357,517,36170,53749,317,169.29
4,5,Call of Duty: Black Ops III,1,2016,16153057,1151578 hours,71639,3620,214054,21740,1549,14.03

In [30]:
UniqueF1 = F1.Game.drop_duplicates()

In [32]:
UniqueF1

0                         League of Legends
1          Counter-Strike: Global Offensive
2                                    Dota 2
3                               Hearthstone
4               Call of Duty: Black Ops III
                        ...
13180              Ni no Kuni: Cross Worlds
13182      Sniper Ghost Warrior Contracts 2
13187    Phantasy Star Online 2 New Genesis
13191                         Phantom Abyss
13196                                  Muck
Name: Game, Length: 1677, dtype: object

In [34]:
F2.head()

,Game,year,month,avg,gain,peak,avg_peak_perc
0,Counter-Strike: Global Offensive,2021,February,741013.24,-2196.42,1123485,65.96%
1,Counter-Strike: Global Offensive,2021,January,743209.66,25405.91,1124553,66.09%
2,Counter-Strike: Global Offensive,2020,December,717803.75,49049.17,1164396,61.65%
3,Counter-Strike: Global Offensive,2020,November,668754.58,55087.89,1037464,64.46%
4,Counter-Strike: Global Offensive,2020,October,613666.69,6816.37,943876,65.02%

In [36]:
UniqueF2 = F2.Game.drop_duplicates()

In [37]:
UniqueF2

0        Counter-Strike: Global Offensive
104                                Dota 2
208         PLAYERUNKNOWN'S BATTLEGROUNDS
256                          Apex Legends
260                                  Rust
                       ...
83427                           Teeworlds
83494                             Far Cry
83598                         Axiom Verge
83669                         Plug & Play
83741         Steel Division: Normandy 44
Name: Game, Length: 1260, dtype: object